{% extends 'base.html' %}
{% block title %} Lista de libros {% endblock %}

{% block body %}
<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'crear' %}" role="button">Agregar</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Libros</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titulo</th>
                    <th>Imagen</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Django con Python</td>
                    <td>img.jpg</td>
                    <td>Libro sobre Django</td>
                    <td> <a name="" id="" class="btn btn-info" href="{% url 'editar' %}" role="button">Editar</a>| 
                       <a name="" id="" class="btn btn-danger" href="{% url 'borrar' %}" role="button">Borrar</a></td>
                </tr>
            </tbody>
        </table>
        
    </div>
</div>
{% endblock %}